@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-disappearance {
  0% {
    background-color: #F2F2F2;
    opacity: 1;
    z-index: 1;
    inset: 0;
  }
  99% {
    opacity: 1;
    z-index: 1;
    inset: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
    inset: 1;
  }
}
@keyframes heart-disappearance {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heart-disappearance-translation {
  0% {
    transform: translate(-9999px, 0);
  }
  99% {
    transform: translate(-9999px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes heart-disappearance-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes heart-growth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes menu-list-appearance {
  from {
    opacity: 0;
    transform: translate(0, 10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes check-appearance {
  from {
    margin-right: -60px;
  }
  to {
    margin-right: 0;
  }
}
@keyframes check-rotation {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  font-family: "roboto-regular", sans-serif;
}

@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand-regular";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
.main-button {
  color: #FFF;
  border-radius: 22px;
  width: 190px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  font-size: 14px;
  font-family: "roboto-regular", sans-serif;
  text-align: center;
  box-shadow: 0 4px 8px #a6a6a6;
}
.main-button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 6px 8px #737373;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 30px 0 50px 0;
}
.btn a {
  text-decoration: none;
}

.step {
  display: flex;
  background-color: #F2F2F2;
  height: 80px;
  font-size: 14px;
  font-family: "roboto-regular", sans-serif;
  box-shadow: 0 4px 8px #cccccc;
  border-radius: 15px;
  position: relative;
  margin-bottom: 25px;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .step {
    width: 30%;
  }
}
@media screen and (min-width: 1300px) {
  .step {
    width: 20%;
  }
}
.step__text {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.step__text i {
  margin: 0 30px;
  color: #8c8c8c;
  font-size: 20px;
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  color: #FFF;
  background-color: #9356DC;
  bottom: 30px;
  left: -10px;
}

.restaurant-list {
  background-color: #F2F2F2;
}
.restaurant-list__heading {
  font-family: "roboto-regular", sans-serif;
  padding: 50px 0 20px 20px;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .restaurant-list__heading {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1300px) {
  .restaurant-list__heading {
    padding-left: auto;
  }
}
.restaurant-list__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  text-decoration: none;
  padding-bottom: 50px;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .restaurant-list__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1300px) {
  .restaurant-list__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.restaurant {
  position: relative;
  width: 100%;
  border-radius: 15px;
  background-color: #FFF;
  margin: 12px 0 14px 0;
  box-shadow: 0 4px 8px 0 grey;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .restaurant {
    width: 48%;
  }
}
@media screen and (min-width: 1300px) {
  .restaurant {
    width: 48%;
  }
}
.restaurant a {
  font-family: "roboto-regular", sans-serif;
  text-decoration: none;
  color: black;
}
.restaurant__text {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.restaurant__text h3 {
  margin-bottom: 5px;
  font-size: 15px;
  font-family: "roboto-regular", sans-serif;
}
.restaurant__text p {
  margin: 0;
  font-size: 14px;
  font-family: "roboto-regular", sans-serif;
}
.restaurant img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__new {
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 12px;
  font-family: "roboto-regular", sans-serif;
  border-radius: 3px;
  color: #278870;
}
.restaurant__new p {
  font-size: 12px;
  margin: 0;
}
.restaurant__heart {
  right: 15px;
  bottom: 25px;
  position: absolute;
}

.picture img {
  width: 100%;
  position: relative;
}

.menu-card {
  width: 100%;
  height: 60px;
  display: flex;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 4px 8px #cccccc;
  border-radius: 15px;
  background-color: #FFF;
  border: none;
  margin-bottom: 15px;
  animation: menu-list-appearance 600ms ease-in-out both;
}
.menu-card--1 {
  animation-delay: 900ms;
}
.menu-card--2 {
  animation-delay: 1100ms;
}
.menu-card--3 {
  animation-delay: 1300ms;
}
.menu-card--4 {
  animation-delay: 1500ms;
}
.menu-card:hover > .menu-card__check {
  animation: check-appearance 400ms ease-in-out forwards;
}
.menu-card:hover .menu-card__check i {
  animation: check-rotation 600ms ease-in-out reverse forwards;
}
.menu-card__legend {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  justify-content: space-between;
}
.menu-card__legend h3 {
  font-family: "roboto-regular", sans-serif;
  font-size: 16px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.menu-card__legend p {
  font-family: "roboto-light", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.menu-card__price {
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  font-family: "roboto-regular", sans-serif;
}
.menu-card__check {
  background-color: #99E2D0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -60px;
}
.menu-card__check i {
  font-size: 20px;
  color: #FFF;
}

.heart-button {
  height: 20px;
  width: 20px;
  position: relative;
}
.heart-button__empty {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: right 0ms 200ms;
}
.heart-button__empty i {
  font-size: 20px;
}
.heart-button__empty:hover {
  animation: heart-disappearance 300ms forwards;
}
.heart-button__empty:hover + .heart-button__full {
  animation: heart-growth 300ms ease-in-out forwards;
}
.heart-button__full {
  right: 0;
  position: absolute;
  bottom: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: scale(0);
  transform-origin: 50% 100%;
}
.heart-button__full i {
  font-size: 20px;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  background-color: #353535;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .footer {
    align-items: center;
  }
}
@media screen and (min-width: 1300px) {
  .footer {
    align-items: center;
  }
}
.footer__title {
  font-size: 16px;
  color: white;
  font-family: "shrikhand-regular", sans-serif;
  margin: 15px 0 20px 15px;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .footer__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1300px) {
  .footer__title {
    font-size: 26px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  font-family: "roboto-regular", sans-serif;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .footer__links {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1300px) {
  .footer__links {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}
.footer__links a {
  padding: 5px 0 5px 0;
  text-decoration: none;
  color: #FFF;
}
.footer__logo {
  height: 25px;
  padding-left: 20px;
}
.footer__logo img {
  width: auto;
  height: 100%;
}
.footer--shadow {
  box-shadow: 0 2px 4px #bfbfbf;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}
.header__logo {
  height: 25px;
}
.header__logo img {
  width: auto;
  height: 100%;
}
.header--shadow {
  box-shadow: 0 2px 4px #bfbfbf;
}

.menu-list {
  padding: 15px;
  animation: menu-list-appearance 400ms ease-in-out both;
}
.menu-list--1 {
  animation-delay: 400ms;
}
.menu-list--2 {
  animation-delay: 600ms;
}
.menu-list--3 {
  animation-delay: 800ms;
}
.menu-list--4 {
  animation-delay: 1000ms;
}
.menu-list__underline {
  height: 3px;
  width: 50px;
  background-color: #99EDD0;
  margin: 5px 0 15px 5px;
}
.menu-list__heading {
  padding-left: 5px;
  font-size: 16px;
  font-family: "roboto-regular", sans-serif;
  text-transform: uppercase;
}

.restaurant-menu {
  background-color: #F2F2F2;
  border-radius: 30px 30px 0 0;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .restaurant-menu {
    max-width: 750px;
    margin: auto;
  }
}
@media screen and (min-width: 1300px) {
  .restaurant-menu {
    max-width: 750px;
    margin: auto;
  }
}
.restaurant-menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 15px 20px;
}
.restaurant-menu__heading h1 {
  font-family: "shrikhand-regular", sans-serif;
  font-size: 24px;
}

.restaurant-banner {
  margin-bottom: -32px;
  height: 230px;
  position: relative;
}
.restaurant-banner__img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  position: absolute;
  vertical-align: middle;
  z-index: -1;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: loader-disappearance 2.2s ease-in forwards;
}
.loader__screen {
  width: 48px;
  height: 48px;
  border: 5px solid #FF79DA;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.presentation {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 30px 0 40px 0;
  align-items: center;
}
.presentation__heading {
  width: 70%;
  font-family: "roboto-regular", sans-serif;
  text-align: center;
  font-size: 24px;
}
.presentation__text {
  font-size: 16px;
  font-family: "roboto-regular", sans-serif;
  width: 80%;
  text-align: center;
}
.presentation__link {
  text-decoration: none;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 12px 0 10px 0;
  box-shadow: 0 2px 8px 0;
}
.location__icon {
  font-size: 16px;
  margin-right: 20px;
}
.location__heading {
  font-family: "roboto-regular", sans-serif;
  font-size: 14px;
}

.functionning {
  padding: 40px 15px;
}
.functionning__heading {
  font-family: "roboto-regular", sans-serif;
  font-size: 24px;
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .functionning__heading {
    padding-left: 20px;
  }
}
.functionning__steps {
  margin-top: 30px;
}
@media screen and (max-width: 750px) {
  .functionning__steps {
    max-width: 700px;
    margin: auto;
  }
}
@media screen and (min-width: 750px) and (max-width: 1299px) {
  .functionning__steps {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1300px) {
  .functionning__steps {
    display: flex;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
