body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand-regular";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
.a {
  text-decoration: none;
}

.main-button {
  color: #FFF;
  border-radius: 22px;
  width: 170px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  font-size: 14px;
  font-family: "roboto-regular", sans-serif;
  text-align: center;
  box-shadow: 0 4px 8px #a6a6a6;
}
.main-button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 6px 8px #737373;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn a {
  text-decoration: none;
}

.step {
  display: flex;
  background-color: #F2F2F2;
  height: 80px;
  font-size: 14px;
  font-family: "roboto-regular", sans-serif;
  box-shadow: 0 4px 8px #cccccc;
  border-radius: 15px;
}
.step__text {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.step__text i {
  margin: 0 30px;
  color: #8c8c8c;
  font-size: 20px;
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  color: #FFF;
  background-color: #9356DC;
}

.restaurant-list {
  background-color: #F2F2F2;
}
.restaurant-list__heading {
  font-family: "roboto-regular", sans-serif;
  padding: 50px 0 20px 20px;
}
.restaurant-list__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  text-decoration: none;
  padding-bottom: 50px;
}

.restaurant--1, .restaurant--2, .restaurant--3, .restaurant--4 {
  width: 100%;
  border-radius: 30px;
  background-color: #FFF;
  margin: 12px 0 14px 0;
  box-shadow: 0 4px 8px 0 grey;
}
.restaurant--1 a, .restaurant--2 a, .restaurant--3 a, .restaurant--4 a {
  font-family: "roboto-regular", sans-serif;
  text-decoration: none;
  color: black;
}

.restaurant img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.restaurant__text {
  padding: 0 0 10px 20px;
}

.picture img {
  width: 100%;
}

.menu {
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: #F2F2F2;
}

.menu__list {
  width: 92%;
  margin: auto;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 grey;
}
.menu__list__heading {
  padding-left: 2px;
}
.menu__list__text {
  padding-left: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  background-color: grey;
}
.footer__heading {
  padding-left: 2px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  font-family: "roboto-regular", sans-serif;
}
.footer__links a {
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  color: #FFF;
}
.footer__logo {
  height: 25px;
  padding-left: 20px;
}
.footer__logo img {
  width: auto;
  height: 100%;
}
.footer--shadow {
  box-shadow: 0 2px 4px #bfbfbf;
}

.header {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}
.header__logo {
  height: 25px;
}
.header__logo img {
  width: auto;
  height: 100%;
}
.header--shadow {
  box-shadow: 0 2px 4px #bfbfbf;
}

.presentation {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 30px 0 40px 0;
  align-items: center;
}
.presentation__heading {
  width: 70%;
  font-family: "roboto-regular", sans-serif;
  text-align: center;
  font-size: 24px;
}
.presentation__text {
  font-size: 16px;
  font-family: "roboto-regular", sans-serif;
  width: 80%;
  text-align: center;
}
.presentation__link {
  text-decoration: none;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 12px 0 10px 0;
}
.location__icon {
  font-size: 16px;
  margin-right: 20px;
}
.location__heading {
  font-family: "roboto-regular", sans-serif;
  font-size: 14px;
}

.functionning {
  padding: 40px 15px;
}
.functionning__heading {
  font-family: "roboto-regular", sans-serif;
  font-size: 24px;
}
.functionning__steps {
  margin-top: 30px;
}

/*# sourceMappingURL=style.css.map */
