.footer {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    background-color: #353535;
    &__title {
        font-size: 16px;
        color: white;
        font-family: "shrikhand-regular", sans-serif;
        margin: 15px 0 20px 15px;
    }
    &__links {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        @include font-roboto;
        a {
            padding: 5px 0 5px 0;
            text-decoration: none;
            color: $color-white;
        }
    }
    &__logo {
        height: 25px;
        padding-left: 20px;
        img {
            width: auto;
            height: 100%;
        }
    }
    &--shadow {
            box-shadow: 0 2px 4px darken($color-background, 20%);
    }    
}
