.footer {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    background-color: grey;
    &__heading {
        padding-left: 2px;
    }
    &__links {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        @include font-roboto;
        a {
            padding: 10px 0px 10px 0px;
            text-decoration: none;
            color: $color-white;
        }
    }
    &__logo {
        height: 25px;
        padding-left: 20px;
        img {
            width: auto;
            height: 100%;
        }
    }
    &--shadow {
            box-shadow: 0 2px 4px darken($color-background, 20%);
    }    
}
