@mixin font-roboto {
    font-family: 'roboto-regular', sans-serif;
}
@mixin restaurant-cards {
    width: 100%;
    border-radius: 15px;
    background-color: $color-white;
    margin: 12px 0 14px 0;  
}

@mixin restaurant-img {    
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
}

@mixin picture {
    width: 100%;
}

@mixin tablet-only {
    @media screen and (min-width: 750px) and (max-width: 1299px) {
        @content
    }
}

@mixin desktop-only {
    @media screen and (min-width: 1300px) {
        @content
    }
}

@mixin tablet-desktop {
    @media screen and (max-width: 750px) {
        @content
    }
}